html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
  width: 100%;
}
*{
  box-sizing: border-box;
  font-family:  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}